<div id = "emoji-picker">
    <div class = "emoji-section emoji-header">
        {{#categories}}
            <div class = "select-category" data-name="{{title}}">
                {{{icon}}}
            </div>
        {{/categories}}
    </div>
    <div class = "emoji-title-overlay">
        <span id = "active-title"></span>
    </div>
    <div class = "emoji-section emoji-content"></div>
</div>